{% extends "layout.html" %}

{% set active_page = "paste" -%}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">IATI Transformer (experimental!)</h1>
    <p class="lead text-muted">Transform IATI v1.0x data to the latest version of the IATI standard.</p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="{{ url_for('public.paste') }}" method="POST">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
          <label class="control-label" for="id_source">Source IATI v1.0x XML:</label>
          <textarea class="form-control" cols="40" id="id_source" name="source" placeholder="<iati-activities>…" required="required" rows="10" title="">{{ source }}</textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="id_result">Transformed IATI v2.03 XML:</label>
      <textarea class="form-control" cols="40" disabled="disabled" id="id_result" name="result" rows="10" title="">{{ result }}</textarea>
    </div>
  </div>
</div>
{% endblock %}
