blinker==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==5.0.0
environs==4.0.0
flask-caching==1.9.0
flask-debugtoolbar==0.10.1
flask-wtf==0.14.3
flask==1.0.2
future==0.18.2
gunicorn==20.0.4
iatikit==2.0.6
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.2
lxml==4.6.2
markupsafe==1.1.1
marshmallow==3.7.1
python-dotenv==0.14.0
requests==2.21.0
unicodecsv==0.14.1
urllib3==1.24.3
werkzeug==1.0.1
wtforms==2.3.3
